<!-- <form #logingForm="ngForm" (submit)="checkLogin(logingForm)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" aria-describedby="emailHelp"  required minlength=10>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="checkhelp" [(ngModel)]="checkhelp" name="checkhelp" required>
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class=row>
        <div class="col-sm-2"><button type="submit" class="btn btn-primary" [disabled]="!logingForm.valid">Submit</button></div>
        <div class="col-sm-2"><button type="button" class="btn btn-primary" (click)="resetForm(logingForm)">Reset</button></div>   
        <div class="col-sm-2"><button type="button" class="btn btn-primary" (click)="setFormData(logingForm)">Set Data</button></div>  
    </div>
  </form>
  <hr>
  <p>{{email}}  |  {{password}}  | {{checkhelp}}</p>
  <hr>
  {{profile | json}} -->
<h1>I am payment</h1>